@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Reset
 * 1. Imports
 * 2. Elements
 * 3. ID & Class
 * 4. Pseudoclass
 * 5. Media Queries
 */

/* 0. Reset */
* { box-sizing: border-box; }
body {
	width:				100%;
	margin:				0;
	padding:			0;
	font-size:			16px;
	font-family:		"Open Sans", Sans-serif;
	overflow-y:			scroll;
	-webkit-transform:	translateZ(0);
	-moz-transform:		translateZ(0);
	-ms-transform:		translateZ(0);
	-o-transform:		translateZ(0);
	transform:			translateZ(0);
}
a {
	color:				#79B;
	outline:			0;
	text-decoration:	none;
}
a:hover {
	color:				#E73;
}
h1, h2, h3, h4, h5, h6 {
	margin:				0;
	font-family:		"Open Sans Condensed", Sans-serif;
}

/* 1. Imports */
/**
 * On a second thought, I'll just import the fonts with <link>
 * tags in the HTML itself, for following reasons:
 *
 * I. Numerous @font-face declarations are too messy to deal with
 * II. Adding @import rules in here will break parallel downloads
 * III. Using <style> & @import in HTML itself is again, pathetic
 *
 * Till I figure out something better, let's keep it this way.
 */

/* 2. Elements */
body > * {
	margin:				auto;
}
header {
	font-family:		"Open Sans Condensed", Sans-serif;
}

/* 3. ID & Class */
#title {
	text-align:			center;
}

/* 4. Pseudoclass */

/* 5. Media Queries */
@media screen and (min-width: 450px) {
	body > * {
		width:			100%;
	}
}
@media screen and (min-width: 700px) {
	body > * {
		width:			100%;
	}
}
@media screen and (min-width: 1000px) {
	body > * {
		width:			800px;
	}
}
