<!DOCTYPE html>
<!-- Insert a kick-ass
ASCII art, in here -->
<html lang="en">

<head>

	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<!-- here comes the title -->
	<title>{{ page.title }} &mdash; DEBlog</title>

	<!-- insert favicon down below -->

	<!-- let's fetch the stylesheets -->
	<link rel="stylesheet" href="/css/base.css" />
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic'>

	<!-- ...and the scripts go after this -->

</head>

<body>

	<header>
		<hgroup>
			<h3>Deb's Personal</h3>
			<h1>Weblog</h1>
		</hgroup>
		<nav class="inlineBlock">
			<div>
				<a href="/">Home</a>
				<a href="http://debs.io">Root</a>
			</div>
			<div>
				<a href="/todos">ToDo</a>
				<a href="/about">About</a>
			</div>
		</nav>
	</header>

	<section class="inlineBlock">
		<article>
{{ content }}
		</article><aside>
			<div class="portal">
				<div>Featured Posts</div>
			{% for post in site.posts %}
				<a href="{{ post.url }}">» {{ post.title }}</a>
			{% endfor %}
			</div>
			<div class="portal">
				<div>Contents aren't interesting?</div>
				<a href="http://debloper.blogspot.com" target="_blank">Looking for my OpenSource Blog?</a>
			</div>
		</aside>
	</section>

	<footer>
		<hr />
		<h6 id="copyleft">
			<span>©</span>
			Copyleft: Soumya Deb &mdash; All Wrongs Reversed!
		</h6>
	</footer>

</body>

</html>
