<!DOCTYPE html>
<!-- Insert a kick-ass
ASCII art, in here -->
<html lang="en">

<head>

	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<!-- here comes the title -->
	<title>{{ page.title }} &mdash; DEBlog</title>

	<!-- insert favicon down below -->

	<!-- let's fetch the stylesheets -->
	<link rel="stylesheet" href="/css/base.css" />
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic'>

	<!-- don't forget about the webfeeds -->
	<link rel="alternate" href="atom.xml" type="application/atom+xml" />
	<link rel="alternate" href="rss.xml" type="application/rss+xml" />

	<!-- ...and the scripts go after this -->
	<script>
	var _gaq = [["_setAccount", "UA-32207720-3"], ["_trackPageview"]];

	(function() {
		var ga = document.createElement('script');
		ga.async = true;
		ga.src = "http://www.google-analytics.com/ga.js";
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
	</script>

</head>

<body>

	<header>
		<hgroup>
			<h3>Deb's</h3>
			<h2>Personal</h2>
			<h1>Weblog</h1>
		</hgroup>
		<nav>
			<div>
				<a class="navLink" href="/">Home</a>
				<a class="navLink" href="/about">About</a>
				<a class="navLink" href="http://debs.io">Root</a>
				<span class="navLink">
					<a href="#" style="font-size: 50%;" data-size="12px">A
					</a><a href="#" style="font-size: 75%;" data-size="16px">A
					</a><a href="#" data-size="20px">A</a>
				</span>
			</div>
		</nav>
	</header>

	<section class="inlineBlock">
		<article>
			<div style="float: right">
				<a href="https://twitter.com/share"
					class="twitter-share-button"
					data-via="Debloper"
					data-size="large"
					data-count="none">
					Tweet
				</a>
				<a href="https://twitter.com/Debloper"
					class="twitter-follow-button"
					data-show-screen-name="false"
					data-show-count="false"
					data-size="large">
					Follow @Debloper
				</a>
			</div>
{{ content }}{% if page.url != "/" %}
		<div id="disqus_thread"></div>
{% endif %}
		</article><aside>
			<div class="portal">
				<div>Featured Posts</div>
			{% for post in site.posts %}
			{% if post.feature %}
				<a href="{{ post.url }}">{{ post.nick }}</a>
			{% endif %}
			{% endfor %}
			</div>
			<div class="portal">
				<div>Looking for my...</div>
				<a href="http://debs.io" target="_blank">
					Website? &mdash; Debs.IO
				</a>
				<a href="http://twitter.com/Debloper" target="_blank">
					Twitter? &mdash; @Debloper
				</a>
				<a href="http://debloper.blogspot.com" target="_blank">
					FOSS Blog? &mdash; BlogSpot
				</a>
			</div>
		</aside>
	</section>

	<footer>
		<hr />
		<h6 id="copyleft">
			<span>©</span>
			Copyleft: Soumya Deb &mdash; All Wrongs Reversed!
		</h6>
	</footer>

	<script>
	// Twitter Share Button Integration
	(function( d, s, id ) {
		var js = d.createElement(s);
		js.id = id;
		js.async = true;
		js.src = "http://platform.twitter.com/widgets.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	})( document, "script", "twitter-wjs");

	// Disqus Commnet Thread Integration
	(function( d ) {
		var dsq = d.createElement('script');
		var disqus_identifier = "{{ page.url | replace:'/','' }}";
		dsq.async = true;
		dsq.src = 'http://blogdebsio.disqus.com/embed.js';
		d.getElementsByTagName('head')[0].appendChild(dsq);
	})(document);

	// Universal Font Size Setter - works like a charm with REM units.
	(function () {
		var items = document.querySelectorAll("span.navLink a")
		,	html = document.getElementsByTagName("html")[0]
		,	action = function ( event ) {
				localStorage.setItem("fontSize", this.dataset.size);
				html.style.fontSize = localStorage.getItem("fontSize");
				event.preventDefault();
			};

		// Attach the event-listener to all the target items
		for (var i in items) {
			items[i].addEventListener("click", action, false);
		}

		// If user has ever set the size, preset with that preference
		if ( localStorage.getItem("fontSize") ) {
			html.style.fontSize = localStorage.getItem("fontSize");
		}
	})();
	</script>

</body>

</html>
